<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= projectName %></title>
<%- include('partials/css') %>
<%- include('partials/javascript') %>
</head>
<body class="bg-info">
  <div class="master-grid">
    <%- include('partials/navigation') %>
    <%- include('partials/flash') %>
    <%- body %>
    <%- include('partials/footer') %>
  </div>

</body>
</html>
